services:
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    volumes:
      - db_data:/var/lib/mongodb
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"

volumes:
  db_data:
    driver: local